@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

*,
:before,
:after {
    box-sizing: border-box;
}


#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container-podium {
    float: left;
    padding: 1em;
    width: 100%;
}



/*** LIST ***/
ol.podium-rank {
    display: flex;
    list-style: none;
    padding: 0;
    text-align: center;
}

/* Listing */
ol.podium-rank > li {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

ol.podium-rank > li:nth-of-type(odd) {
    order: 0;
}

ol.podium-rank > li:nth-of-type(2) {
    order: -1;
}

ol.podium-rank > li:nth-of-type(4) {
    /* For every ol.podium-rank > li:nth-of-type(even) listing, 
    decrease order by 1 of previous even listing */
    order: -2;
}

ol.podium-rank > li:nth-of-type(6) {
    /* For every ol.podium-rank > li:nth-of-type(even) listing, 
    decrease order by 1 of previous even listing */
    order: -3;
}

ol.podium-rank > li * {
    transition: all 0.5s ease 0s;
}

ol.podium-rank > li > * {
    padding: 1em;
    width: 100%;
}

/* Link */
ol.podium-rank > li > a {
    color: inherit;
    text-decoration: none;
}

/* Image */
ol.podium-rank > li .image {
    height: 0;
    padding-bottom: calc((100% / 4) * 3);
    position: relative;
    width: 100%;
}

ol.podium-rank:not(:hover) > li:not(:first-of-type) .image,
ol.podium-rank:hover > li:not(:hover) .image {
    /* Blur not compatible in IE11 */
    filter: blur(0.375em);
}

ol.podium-rank:not(:hover) > li:nth-of-type(2) .image {
    /* Blur not compatible in IE11 */
    filter: blur(0.125em);
}

ol.podium-rank:not(:hover) > li:nth-of-type(3) .image {
    /* Blur not compatible in IE11 */
    filter: blur(0.25em);
}

ol.podium-rank > li .image > * {
    height: auto;
    left: 50%;
    max-height: 30%;
    max-width: 30%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

ol.podium-rank:not(:hover) > li:first-of-type .image > * {
    max-height: 75%;
    max-width: 75%;
}

ol.podium-rank:not(:hover) > li:nth-of-type(2) .image > * {
    max-height: 60%;
    max-width: 60%;
}

ol.podium-rank:not(:hover) > li:nth-of-type(3) .image > * {
    max-height: 45%;
    max-width: 45%;
}

ol.podium-rank > li:hover .image > * {
    max-height: 90%;
    max-width: 90%;
}

/* Content */
ol.podium-rank > li:not(:hover) .content {
    opacity: 0;
    padding-top: 1em;
}

ol.podium-rank > li:hover .content {
    padding-bottom: 1em;
}

ol.podium-rank > li .content * {
    margin: 0.25em 0 0 0;
}



/*** MEDIA QUERIES ***/
@media only screen and ( max-width: 50em ) {

    ol.podium-rank {
        flex-direction: column;
    }

    ol.podium-rank > li {
        display: block;
        order: 1!important;
    }

}