<head>
	<title>Motto l&ouml;schen - Dialog</title>

    <link href="assets/css/modal.tmp.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="modal-header-delete" id="headerStyle">
		<h3>Motto l&ouml;schen</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
                    <p style="font-size: 18px;">Sind Sie sicher, dass Sie das Motto l&ouml;schen wollen?
                        <i class="material-icons" style="font-size:48px; color: #ff8f5e">delete_forever</i>
                    </p>
				</div>
			</div>
		</div>
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-simple">Motto l&ouml;schen</button>   
		<button ng-click="close()" class="btn btn-primary btn-simple" style="margin: 10px 5px 5px 5px;">Abbrechen</button>
    </div>
</body>
