<head>
    <title>LogIn - Dialog</title>

    <link href="assets/css/modal.tmp.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="modal-header" id="headerStyle" ng-style="{'background-color':bgCol}">
        <h3>LogIn erfolgreich</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span style="font-size: 18px;">Sie haben sich erfolgreich eingeloggt! Viel Spa&szlig; beim Teilen deiner Mottos.
                        <i class="material-icons" style="font-size:48px; color: #7ac29a">tag_faces</i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="close()" class="btn btn-success" style="margin: 10px 5px 5px 5px;">LogIn abschlie&szlig;en</button>
    </div>
</body>
