/* ----------------------- Sidebar and Content ----------------- */
html,
body {
  height: 100%;
}

body {
  /* padding: 20px; */
  box-sizing: border-box;
  margin: 0;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
}

.content-container {
    display: table-row;
    }

.sidebar-left,
.sidbar-right,
.content {
    display: table-cell;
    padding: 20px;
}

.sidebar-left,
.sidebar-right {
    padding: 0;
    width: 200px;
    border-right: 2px solid #000;
}

.content {
/* background: Pink; */
/* border-right: solid 20px white; */
/* border-left: solid 20px white; */
}  

/* -------------------- Button --------------------------- */

.button {
    margin: 5px 10px 5px 0px;
	float: left;
    position:relative;
    font-family:sans-serif;
    width:100%;
    max-width:109px;
    height:40px;
    border:solid 2px #ff8f5e;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button a {
    position:relative;
    padding:0px;
    text-transform:uppercase;
    text-decoration: none;
    color:#ff8f5e;
    font-size:0.8rem;
    font-weight:600;
    line-height:40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1000;
}

.user-friendly {
  min-width:100%;
  padding:0px;
  float:left;
}

.button:hover a {
    color:#ffffff;
}

.background {
    position: absolute;
    width:100%;
    bottom:0;
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color: #ff8f5e;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.button:hover {
     color:#ffffff;
}

.button:hover .background {
    height:38px;
}

.label {
  font-family:sans-serif;
  color:#888;
  width:100%;
  text-align:center;
  margin:0.4em 0 2em 0;
}

/* ------------------ Confirm Button ---------------------- */

.btn-warning {
    color: #fff;
    background-color: #ff8f5e;
    border-color: #ff8f5e;
}

.btn-warning:hover {
    color:#ff8f5e;
	background-color: #fff;
	border-color: #ff8f5e;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

.btn-primary {
    font-size: 16px;
    color: #fff;
    background-color: #ff8f5e;
    border-color: #ff8f5e;
    margin: 8px 3px 8px 3px;
}

.btn-primary:hover {
    color:#ff8f5e;
	background-color: #fff;
	border-color: #ff8f5e;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;
}

/* -------------- Additional Style --------------- */
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,0); 
}

.table-striped tbody tr:nth-of-type(odd):hover {
     background-color: rgba(0,0,0,.05); 
}

.content-wrapper {

    margin-left: 0px;

}

/* --------------- Breadcrumb ----------------- */
.breadcrumb {
    padding: 8px 15px;
    margin: 0px 0px 20px 10px;
    list-style: none;
	background-color: #293133;
	color: #fff;
    border-radius: 4px;
    opacity: 0.4;
	margin: 20px 5px 20px 0px;
}
ul, ol {
    margin-top: 0;
	margin-bottom: 10px;
	color: #ff8f5e;
}

.breadcrumb  li {
	color: #ff8f5e;
}

.breadcrumb a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #ff8f5e;
	border: 1px solid #ff8f5e;
	border-radius: 5px;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-header {
	margin: 0;
	width:100%;
    float: left;
    height: 80px;
    font-size: 40px;
    font-weight: 600;
    padding: 15px 10px 15px 10px;
}

.modal-header {
    display: block;
}

.title-text {
	padding-left: 10px;
}

/* --------- Dialog Style ------------ */

#headerStyle {
	background-color: #ff8f5e ;
	color: #fff;
}

#headerSuccessStyle {
	background-color: #3c763d ;
	color: #fff;
}

#headerSuccessStyle {
	position: relative;
	width: 100%;
	float: left;
}

SuccessContainer {
	background-color: #3c763d ;
	color: #fff;
	width: 65%;
}

#textContainer {
	float: right;
	padding: -5px 25px 0px 0px;
	margin-bottom: 10px;
	margin-right:120px;
}